menuconfig MACH_XIAOMI
	bool "Xiaomi devices"

if MACH_XIAOMI

config MACH_XIAOMI_ROVA
	bool "ROVA"
	help
	  ROVA

config MACH_XIAOMI_ULYSSE
	bool "Xiaomi Redmi Note 5A (Unified)"
	help
	  Support for Xiaomi Redmi Note 5A (Unified).

endif
